@import "assets/styles/utils.scss";

$color-time: #f2f4f5;
$color-time-active: darken($color-time, 12%);

.InputTime {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 185px;

  &.icon-none {
    width: 145px;

    .content {
      input[type=time] {
        &::-webkit-datetime-edit {
          max-width: 150px;
          margin-left: initial;
        }

        &::-webkit-calendar-picker-indicator {
          display: none;
        }
      }

      span {
        margin-left: 0px;
      }
    }
  }

  .content {
    width: 100%;

    /* Hour */
    input[type=time] {
      width: 100%;
      border: none;
      outline: none;

      &::-webkit-datetime-edit {
        max-width: 150px;
        margin-left: 30px;
      }

      &::-webkit-datetime-edit-hour-field {
        background-color: $color-time;
        border-radius: 15%;
        padding: 19px 13px;
    
        &:focus {
          color: #000;
          background-color: $color-time-active;
        }
      }

      /* Minute */
      &::-webkit-datetime-edit-minute-field {
        background-color: $color-time;
        border-radius: 15%;
        padding: 19px 13px;

        &:focus {
          color: #000;
          background-color: $color-time-active;
        }
      }

      /* AM/PM */
      &::-webkit-datetime-edit-ampm-field {
        background-color: $color-primary;
        border-radius: 15%;
        color: $color-time;
        padding: 19px 13px;

        &:focus {
          background-color: $color-primary-dark;
        }
      }
      
      /* Icon clock */
      &::-webkit-calendar-picker-indicator {
        position: absolute;
        margin-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
        @include filter-color(#00afcb);
      }
    }

    span {
      margin-left: 30px;
      display: block;
      text-align: center;
      color: #5f5f5f;
    }
  }
}